{% extends 'base.html' %}

{% block title %}
History - Candalysis
{% endblock %}

{% block content %}
<h1>Search History</h1>
<!-- Clear History Button -->
<form method="post" action="{% url 'clear_history' %}" style="margin-bottom: 20px;">
    {% csrf_token %}
    <button type="submit" class="btn btn-defcolor">Clear All History</button>
</form>

<table class="table-hover mb-5">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Days</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for record in search_history %}
        <tr style="cursor: pointer;" data-href="{% url 'analysis' %}?symbol={{ record.symbol|escapejs }}&days={{ record.days }}">
            <td><a href="{% url 'analysis' %}?symbol={{ record.symbol }}">{{ record.symbol }}</a></td>
            <td>{{ record.days }}</td>
            <td>{{ record.search_date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No search history available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // Add click event listener for table rows
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('tr[data-href]').forEach(row => {
            row.addEventListener('click', function () {
                window.location.href = this.dataset.href;
            });
        });
    });
</script>
{% endblock %}