{% extends "base.html" %}

{% block title %}
Image Analysis - Candalysis
{% endblock %}

{% block content %}
<h1>Upload an Image (Currently WIP)</h1>
<div class="container mt-5">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="image" class="form-label">Select an Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <button type="submit" class="btn btn-defcolor">Upload</button>
    </form>
</div>
{% endblock %}