{% extends 'base.html' %}

{% block title %}
Matches - Candalysis
{% endblock %}

{% block content %}
<h1>Best Matches</h1>
<table class="table-hover mb-5">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
            <th>Region</th>
            <th>Currency</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr style="cursor: pointer;" data-href="{% url 'analysis' %}?symbol={{ match.symbol|escapejs }}">
            <td><a href="{% url 'analysis' %}?symbol={{ match.symbol }}">{{ match.symbol }}</a></td>
            <td>{{ match.name }}</td>
            <td>{{ match.type }}</td>
            <td>{{ match.region }}</td>
            <td>{{ match.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('tr[data-href]').forEach(row => {
            row.addEventListener('click', function () {
                window.location.href = this.dataset.href;
            });
        });
    });
</script>
{% endblock %}